
*{
    padding: 0px;
    margin: 0px;
}

.navbar{
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin: auto;
    padding: 20px;
    
}

.navbar div ul{
    display: flex;
}

.navbar div ul li{
    padding-left: 20px;
    list-style: none;
    font-size: 18px;
    letter-spacing: 5px;
}

.navbar div h3{
    font-size: 18px;
    letter-spacing: 5px;
    font-weight: 500;
}

.burger-bg img{
width: 100%;
height: 650px;
object-fit: cover;
}